<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do list App</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
         <h1> <%= dat%></h1>
    </div>

    <div class="box">

      <ol>
       <% for(let i=0;i<page_item.length;i++){ %>

         <form  action="/delete" method="post">
           <div class="item">
             <input type="checkbox" name="checkbox" value=<%=page_item[i]._id%> onChange="this.form.submit()">
             <p><%=page_item[i].name%></p>
           </div>
           <input type="hidden" name="list_name" value="<%= dat%>"></input>
         </form>




       <%  }%>

      </ol>

      <form class="item" action="/add" method="post">

        <input type="text" name="adder" placeholder="New task" autocomplete="off" >
        <button type="submit" name="list" value="<%=dat%>">+</button>

      </form>


    </div>






  </body>
</html>
